# compilation results
*.class
build/
gradle/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# project templates and unnecessary folders
*.iml
.idea/
.gradle
gradlew
gradlew.bat
./*.xml
